<h3>Edit User</h3>

<form [formGroup]="addUser" (ngSubmit)="(onSubmit(addUser.value))">

    <div class="form-group" >
        <label for="firstName">First Name: </label>
        <input type="text" class="form-control" formControlName="firstname" id="firstName" />

    </div>
    <div class="form-group" >
        <label for="lastName">Last Name: </label>
        <input type="text" class="form-control" formControlName="lastname" id="lastName" />

    </div>
    <div class="form-group" >
        <label for="email">Email ID: </label>
        <input type="text" class="form-control" formControlName="email" id="email" />

    </div>

    <button class="btn btn-success" type="submit">Save</button> &nbsp;&nbsp;
    <button class="btn btn-danger" type="reset">Cancel</button>
    &nbsp;&nbsp;
    <a class="btn btn-warning" [routerLink]="['/users']">Back to List</a>
</form>