<!-- <h1>In APP Component in {{title}}</h1>
<home></home>
<about-us></about-us>
<contact></contact> -->
<!-- <app-employees></app-employees> -->
<nav class="navbar navbar-inverse">
 
<ul class="nav nav-tabs">
    <li ><a routerLink="">Home</a></li>
    <li ><a routerLink="emp">Employees</a></li>
    <li ><a routerLink="contact">Contact us</a></li>
    <li ><a routerLink="aboutus">About us</a></li>
    <li ><a routerLink="emplist">Employee List</a></li>
    <li ><a routerLink="form">Reactive Form</a></li>
    <li ><a routerLink="users">Users</a></li>
    <li ><a routerLink="bindings">Bindings</a></li>
    <li ><a routerLink="ngclass">Ng Class</a></li>

    <li ><a routerLink="likedislike">Like Dislike</a></li>

  </ul>
</nav>
<router-outlet></router-outlet>